<div class="container col-6 p-0 m-auto mt-2">
    <div class="left col-4">
        <div class="img-profile">
            <img [src]="profile.avt" class="img-fluid " alt="">
        </div>
        <div class="content">
            <div class="box-left mt-2">
                <div class="header">
                    <p class="p-3">CONTACT</p>
                </div>
                <div class="icon">
                    <p><i class="fa fa-birthday-cake"></i>{{profile.birthday}}</p>
                    <p><i class="fa fa-phone-alt"></i>{{profile.phone}}</p>
                    <p><i class="far fa-envelope"></i>{{profile.email}}</p>
                    <p><i class="fa fa-map-marker-alt"></i>Đông anh, Hà Nội</p>
                    <p><i class="fab fa-github-square"></i>Github</p>
                </div>
            </div>
            <div class="box-left mt-3 mb-5">
                <div class="header">
                    <p class="p-3">SKILLS</p>
                </div>
                <div class="language" *ngFor="let skill of skills">{{skill.name}}
                    <div class="skill-language">
                        <div class="skill {{skill.name}}" style="width: {{skill.mark}}%; background-color: rgb(255, 255, 255);"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="right">
        <div class="name-div">
            <h1>{{ profile.name | uppercase }}</h1>
            <p>{{ profile.job | uppercase }}</p>
        </div>
        <div class="box-right">
            <h3 class="about">ABOUT ME</h3>
            <p class="p2">{{profile.desc}}</p>
        </div>
        <div class="box-right">
            <h3 class="education">EDUCATION</h3>
            <div class="detail-edu" *ngFor="let education of educations">
                <p class="p3">{{education.time_start}} - {{education.end_time}}: <span>{{education.name}}</span></p>
                <p class="p2">
                    {{education.achievements}}
                </p>
            </div>
        </div>
        <div class="box-right">
            <h3 class="project">PROJECTS</h3>
            <div class="detail-proj" *ngFor="let project of projects">
                <p class="p3">{{project.name}}</p>
                <p class="p2">
                    {{project.desc}}
                </p>
            </div>
        </div>
    </div>
</div>
