<div class="container-fluid p-0 pt-3">
    <div class="modal-header">
        <h3 *ngIf="id===undefined" class="col-12 fs-3 fw-bold text-center text-dark">Add Project</h3>
        <h3 *ngIf="id!==undefined" class="col-12 fs-3 fw-bold text-center text-dark">Edit Project</h3>
    </div>
    <p>{{projectForm.value | json}}</p>
    <div class="modal-body">
        <form [formGroup]="projectForm" (ngSubmit)="onProject(projectForm.value)">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name Project:</label>
                <input type="text" class="form-control"
                formControlName="name"
                [(ngModel)]="project.name"
                >
                <app-profile-validate
                    [formField]="projectForm.get('name')"
                    key = "Project Name"
                ></app-profile-validate>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Start Time: {{project.time_start}}</label>
                <input type="date" class="form-control" 
                formControlName="time_start"
                [(ngModel)]="project.time_start"
                >
                <app-profile-validate
                [formField]="projectForm.get('time_start')"
                key = "Start Time"
            ></app-profile-validate>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">End Time: {{project.end_time}}</label>
                <input type="date" class="form-control" 
                formControlName="end_time"
                [(ngModel)]="project.end_time"
                >
                <app-profile-validate
                [formField]="projectForm.get('end_time')"
                key = "End Time"
            ></app-profile-validate>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Desc: </label>
                <textarea class="form-control"
                formControlName="desc"
                [(ngModel)]="project.desc" rows="5" cols="50"></textarea>
                <app-profile-validate
                [formField]="projectForm.get('desc')"
                key = "Description"
            ></app-profile-validate>
            </div>
            <button *ngIf="id===undefined" type="submit" [disabled]="projectForm.invalid" class="btn btn-dark col-2 m-auto">ADD</button>
            <button *ngIf="id!==undefined" type="submit" [disabled]="projectForm.invalid" class="btn btn-dark col-2 m-auto">EDIT</button>
          </form>		
    </div>
</div>
