<div class="container-fluid p-0 pt-3">
    <div class="modal-header">
        <h3 *ngIf="id===undefined" class="col-12 fs-3 fw-bold text-center text-dark">Add Skill</h3>
        <h3 *ngIf="id!==undefined" class="col-12 fs-3 fw-bold text-center text-dark">Edit Skill</h3>
    </div>
    <div class="modal-body">
        <form [formGroup]="skillForm" (ngSubmit)="onSkill(skillForm.value)">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name Skill: </label>
                <input type="text"  class="form-control"
                formControlName="name"
                [(ngModel)]="skill.name"
                >
                <app-profile-validate
                    [formField]="skillForm.get('name')"
                    key = "Skill Name"
                ></app-profile-validate>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Mark: </label>
                <input type="number" class="form-control"
                formControlName="mark"
                [(ngModel)]="skill.mark"
                >
                <app-profile-validate
                    [formField]="skillForm.get('mark')"
                    key = "Mark"
                ></app-profile-validate>
            </div>
            <button *ngIf="id===undefined" type="submit" class="btn btn-dark col-2 m-auto">ADD</button>
            <button *ngIf="id!==undefined" type="submit" class="btn btn-dark col-2 m-auto">EDIT</button>
          </form>		
    </div>
</div>


