<div class="container-fluid p-0 pt-3">
    <h3 class="fs-3 fw-bold">List Projects</h3>
    <a href="" class="btn btn-outline-dark mb-2">Add Project</a>
    <table id="table_id" style="width:100%" class="table col-12 m-auto table-border table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Achievements</th>
            <th scope="col">Status</th>
            <th scope="col" colspan="3">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let phone of phones">
            <th scope="row">{{phone.id}}</th>
            <td>{{phone.name}}</td>
            <td><img src="{{phone.image}}" width="150px" alt=""></td>
            <td>{{phone.price}}$</td>
            <td class="text-left">{{phone.desc}}</td>
            <td class="col-2"><button type="button" class="btn btn-dark col-6 m-auto">Kích hoạt</button></td>
            <td><a href="#" class="text-dark"><i class="fas fa-eye"></i></a></td>
            <td><a href="admin/phone/edit/{{phone.id}}" class="text-dark"><i class="fas fa-edit"></i></a></td>
            <td><a (click)="onRemove(phone.id)" class="text-dark"><i class="fas fa-trash-alt"></i></a></td>
          </tr> -->
        </tbody>
      </table>
</div>
