<div class="text-danger" *ngIf="formField?.dirty">
    <p *ngIf="formField?.errors?.['required']">
        {{key}} không được để trống
    </p>
    <p *ngIf="formField?.errors?.['minlength']">
        {{key}} lớn hơn 6 ký tự
    </p>
    <p *ngIf="formField?.errors?.['pattern']">
        {{key}} chưa đúng định dạng SĐT
    </p>
    <p *ngIf="formField?.errors?.['email']">
        {{key}} chưa đúng định dạng email
    </p>
    <p *ngIf="formField?.errors?.['min']">
        {{key}} phải lớn hơn 0
    </p>
    <p *ngIf="formField?.errors?.['max']">
        {{key}} phải nhỏ hơn 100
    </p>
</div>
