/* You can add global styles to this file, and also import other style files */
*{margin:0; padding:0; box-sizing: border-box;}
body {
    background-color: #b8b8b8;
    height: fit-content;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}
.container{
    background-color: white;
    height: auto;
    position: absolute; 
    transform: translate(-50%, 0);
    left: 50%;
    top: 0;
}
.left {
    background-color: #171010;
    height: 100%;
    float: left;
    z-index: 1;
    position: fixed;
    box-shadow: 2px 0 2px #646464;
}
.img-profile {
    height: 200px;
    width: 200px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 90px;
    border: 10px solid #171010;

}
.img-profile img {
    width: 100%;
    border-radius: 50%;
}
.box-left {
    position: relative;
}
.header{
    background-color: #353535;
    border-radius: 0 2px 2px 0px;
    box-shadow: 2px 0 2px #646464;
    color: #ffffff;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}
.header::after{
    content: '';
    position: absolute;
    width: 35px;
    height: 25px;
    background-color: #3c3b3b;
    left: 230px;
    top: 36px;
    transform: rotate(56deg);
    z-index: -1;
}
.icon {
    padding: 5px 15px;
    font-size: 10px;
    color: #EDEDED;
    /* font-weight: 500; */
}
.icon i {
    font-size: 16px!important;
    padding-right: 10px!important;
    vertical-align: sub;
}
.language {
    margin: 5px 15px;
    font-size: 12px;
    color: #ffffff;
}
.skill-language {
    width: 100%;
    background-color: #5a5959;
    margin: 5px 0px;
}
.skill {
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}
.html {
    width: 90%;
    background-color: white;
}
.css {
    width: 80%;
    background-color: white;
}
.js {
    width: 70%;
    background-color: white;
}
.php {
    width: 85%;
    background-color: white;
}
.hobbie i {
    font-size: 30px;
    margin: 10px;
}
.title {
    width: 200px;
    border: 1px solid black;
    margin: auto;
}
.name-div {
    padding: 10px 5px;
    text-align: center;
    letter-spacing: 3px;
    border: 4px solid black;
    margin: 50px 50px 50px 310px;
    border-radius: 16px;
}
.name-div h1 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 700;
}
.name-div p {
    position: absolute;
    background-color: white;
    left: 430px;
    padding: 0 5px;
}
.box-right {
    margin-left: 280px;
    margin-right: 50px;
}
.box-right h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 900;
}
.detail-edu, .detail-proj {
    margin-top: 10px;
}
.p2 {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
}
.p3 {
    font-size: 13px;
    font-weight: 700px;
}

/* aside */
.sidebar {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: black;
    position: fixed;
    z-index: 1;
    width: 15%;
}
.nav-pills li a{
    color: white;
    font-size: 15pt;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav-pills li a:hover{
    color: white;
    background-color: #78a206;
    overflow: hidden;
    transition: all 0.2s ease-out;
}
